@tailwind base;
@tailwind components;
@tailwind utilities;

.cool-underline{
    position: relative;
}

.cool-underline::after{
    content: '';
    height: 10px;
    background-color: #DC008366;
    display: block;
    position: absolute;
    left: -1px;
    width: 0;
    bottom: 10px;
    z-index: -1;
    transform: skew(-21deg);
    transition: all 1s ease-in-out;
}

.cool-underline.show-underline::after{
    width: calc(100% + 16px);
}


form input, form select, form textarea{
    @apply border rounded-md p-2;
}
form input, form textarea{
    @apply w-full block;
}

form label{
    @apply mb-4 block;
}